/* The CSS in this folder is for the create.php file */
.createMainSection {
  height: 600px;
  border: 2px solid white;
}


form {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
