/* This file will contain CSS code that will be used throughout this application */
.center {
  text-align: center;
}

.font {
  font-family: 'Livvic', sans-serif;
}

a {
  color: #fff;
  text-decoration: none;
}

a:hover {
  color: #fff;
  text-decoration: none;
}
