/* The css in this file is for the home page */
.homeMainSection {
  height: 80%;
  border: 2px solid white;
}

section {
  margin-top: 100px;
}

/* CSS for the blog area */
.blogSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.blog_div {
  width: 50%;
  border: 2px solid black;
  margin-bottom: 1em;
}
