/* The css in this file is for the home page */
.homeMainSection {
  height: 80%;
  border: 2px solid white;
}

.homeSectionArea {
  margin-top: 100px;
}


/* CSS for the blog area */
.blogSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.blog_div {
  display: grid;
  grid-template-columns: 75% 25%;
  width: 50%;
  height: auto;
  border: 2px solid black;
  margin-bottom: 1em;
}

.votingDiv {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#deleteForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

button {
  border-color: #0AB8B4;
  background-color: #0AB8B4;
  text-transform: uppercase;
  color: #fff;
}

button:hover {
  border-color: #8CEAE8;
  background-color: #8CEAE8;
}
