/* This file provides the css for the landing page */

body, html {
  height: 100%;
}

main {
  background-image: url('../images/home.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
}

section {
  border: 2px solid red;
  margin-left: 20%;
  margin-right: 20%;
}
